---
import BlogPostLayout from "@/layouts/BlogPostLayout.astro"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
  const blogEntries = await getCollection("project")
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}
interface Props {
  entry: any
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<BlogPostLayout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <Content />
</BlogPostLayout>
