---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="m-10">
    <h2>Oops...</h2>
    <p>The page you are looking for does not exist,</p>
    <p>like an <mark>O(n)</mark> sorting algorithm on a sequential machine.</p>
    <i class="opacity-40">
      p.s. That's the best joke I could make for a 404 error page:(
    </i>
  </div>
</MainLayout>
