---
import Layout from "./Layout.astro"

interface Props {
  title: string
}

const { title } = Astro.props
---

<Layout title={title}>
  <div class="flex w-full justify-center">
    <div
      class="prose m-10 w-full !max-w-4xl dark:prose-invert prose-p:text-justify prose-a:text-blue-600 prose-img:rounded-xl"
    >
      <slot />
    </div>
  </div>
</Layout>
